body{
  background: #EBEBEB;
}
#whiteboard {
  border: 1px solid #BFBFBF;
  background-image:
    -moz-linear-gradient(45deg, #f8f8f8 5%, transparent 25%),
    -moz-linear-gradient(-45deg, #f8f8f8 5%, transparent 25%),
    -moz-linear-gradient(45deg, transparent 75%, #f8f8f8 75%),
    -moz-linear-gradient(-45deg, transparent 75%, #f8f8f8 75%);
  background-image:
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #f8f8f8), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #f8f8f8), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #f8f8f8)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #f8f8f8));

  background-size:20px 20px;
  -moz-background-size:20px 20px;
  -webkit-background-size:20px 20px; /* override value for shitty webkit */

  background-position:0 0, 50px 0, 50px -50px, 0px 50px;
}