h1= title
.row
  a(href='/boards/new', class='pull-right btn btn-large btn-success')
    i.icon-white.icon-plus
    | &nbsp;
    | Create board
table.table
  tr
    th Name
    th Last modified
    th Options
  each board in boards
    tr
      td
        a(href = '/board/'+board._id)= board.name
      td
        = board.updated_at
      td
        a.btn.btn-danger(href = '/board/'+board._id, data-method="delete", data-confirm="Are you sure?") Delete
        &nbsp;
        a.btn.btn-info(href = '/board/'+board._id+'/edit') Edit

