link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/colorpicker.css')
script(src="/javascripts/libs/raphael.js")
script(src="/javascripts/libs/raphael-serialize.js")
script(src="/javascripts/libs/raphael-freeTransform.js")
script(src="/javascripts/libs/bootstrap-colorpicker.js")
script(src="/socket.io/socket.io.js")

h2= board.name

.btn-toolbar
  .btn-group
    a#add-circle.btn Circle
    a#add-rect.btn Rectangle
  .btn-group.pull-right
    a#remove-shape.btn.btn-danger(disabled="disabled")
      i.icon-trash

input(type="text")#color.span2
#whiteboard.checkered("data-id"=board._id)
script(src="/javascripts/whiteboard.js")




script(type="text/javascript")
  $(function(){
    loadShapes(!{JSON.stringify(board.shapes)});
  });