!!!

html
  head
    if typeof title !== "undefined"
      title= title
    else
      title Whiteboard
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/jquery_ujs.js")
    script(src="/faye/client.js")
  body
    - var notice = req.flash('notice');
    - var error = req.flash('error');
    - if (notice.length > 0)
      .alert.alert-success= notice
    - if (error.length > 0)
      .alert.alert-error= error
    .container!= body