!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    - var notice = req.flash('notice');
    - var error = req.flash('error');
    - if (notice.length > 0)
      .alert.alert-success= notice
    - if (error.length > 0)
      .alert.alert-error= error
    .container!= body